.homepage
	.introduce
		display: grid
		position: relative
		grid-template-columns: 50% 50%
		margin-top: 140px

		h1
			display: inline-block
			width: min-content
			letter-spacing: -4px
			text-align: left
			font-size: 8rem
			line-height: 8rem
			font-family: 'Old Standard TT'
			font-weight: 300

		h2
			display: inline-block
			text-transform: uppercase
			margin-bottom: 24px
			font-size: 1rem
			letter-spacing: 1px
			line-height: 1.5rem
			text-align: left
			font-weight: 400
			color: gray

		.buttons
			display: flex

			> a:first-of-type
				margin-right: 40px

		.scroll
			position: absolute
			bottom: 0
			left: 50%
			transform: translateX(-50%)
			width: 40px
			margin: 16px auto
